body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #090909;
}
main canvas{
    width: 100%;
    height: 100%;
  
    background-color: #090909;
}
footer{
    position: absolute;
    height: 28%;
    width: 40%;
    bottom: 5%;
    align-self: center;
    justify-self: center;
    color: #D7D9DB;
   
}
footer .matValueTools
{
    padding: 12px;
    background-color: #2D2F31;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
footer .matValueTools .property
{
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content:space-between
}
footer .matValueTools .property [type="range"]
{
   /* -webkit-appearance: none; */
   width: 50%;
   /* height: 3px; */
 
}
/* #5A5C5D */
/* #3ABE86 */
/* footer .matValueTools .property [type="range"]::-ms-fill-upper
{
   background-color: #5A5C5D;
}
footer .matValueTools .property [type="range"]::-ms-fill-lower
{
    background-color: #3ABE86;
} */

/* footer .matValueTools .property [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: #ffffff; 
    border-radius: 50%; 
 
} */



